body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #e6f2ff;
    margin: 0;
    padding: 20px;
}

.contenedor {
    background: white;
    max-width: 700px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #004080;
}

fieldset {
    margin-bottom: 20px;
    border: 2px solid #004080;
    border-radius: 5px;
    padding: 15px;
}

legend {
    font-weight: bold;
    color: #004080;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 3px;
    margin-top: 7px;
    border-radius: 45px;
    border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

button {
    background-color: #004080;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0066cc;
}

.firma {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

footer {
    background-color: #e6f2ff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aeb5bd88;
    padding: 20px;
}

.logo {
    width: 75px; 
    height: auto;
}
